@import 'scss/mixins';
@import 'scss/variables';

.root {
  position: relative;
  margin-bottom: 40px;
}

.input {
  @include font(16px, 1.4, 400);
  padding: 20px 40px 20px 20px;

  border-radius: 4px;
  border: 1px solid #bcbcbc;
  width: 100%;

  &::placeholder {
    @include font(16px, 1.4, 400);
  }

  &:focus {
    border-color: $primary;
  }
}

.cross {
  color: $base-color;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  cursor: pointer;
}
